<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter2</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <button @click = "dec">-</button>
        {{count}}
        <button @click = "inc()">+</button>
    </div>
    <script>
        const App = {
            data(){
                return{
                    count : 13
                }
            },
            methods : {
                inc(){
                    this.count++
                },
                dec(){
                    if(this.count == 0) return
                    this.count--
                }
            },
            mounted() {

            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>